# OpenWeatherMap API Configuration
OPENWEATHER_API_KEY=your_api_key_here

# PostgreSQL Database Configuration
DB_USER=postgres
DB_PASSWORD=your_password_here
DB_HOST=localhost
DB_PORT=5432
DB_NAME=transport_meteo

# Kafka Configuration
KAFKA_BROKER=your_kafka_brocker_address
